.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
fts-*.tar.gz
install-sh
libfts.la
libfts_la-fts.lo
libfts_la-fts.o
libtool
ltmain.sh
m4/
missing
